UTF-8 encoding problem with email subjects

```
git@gitlab:~/gitlab$ bundle exec rake gitlab:env:info RAILS_ENV=production

System information
System:		Ubuntu 14.04
Current User:	git
Using RVM:	no
Ruby Version:	2.1.7p400
Gem Version:	2.2.5
Bundler Version:1.7.9
Rake Version:	10.4.2
Sidekiq Version:3.3.0

GitLab information
Version:	8.0.5
Revision:	2c03667
Directory:	/var/www/git/gitlab
DB Adapter:	postgresql
URL:		https://gitlab.example.ru
HTTP Clone URL:	https://gitlab.example.ru/some-group/some-project.git
SSH Clone URL:	git@gitlab.example.ru:some-group/some-project.git
Using LDAP:	yes
Using Omniauth:	no

GitLab Shell
Version:	2.6.5
Repositories:	/var/www/git/repositories/
Hooks:		/var/www/git/gitlab-shell/hooks/
Git:		/usr/bin/git
```

Email from Gitlab have broken subject field, for example:
```
From: =?UTF-8?B?0JfQsNC90LjQvSDQkNC70LXQutGB0LXQuSDQkNC90LDRgtC+0LvRjNC10LLQ?=
 =?UTF-8?B?uNGH?= <gitlab@gitlab.example.ru>
```
First row encoding "Занин Алексей Анатольев�", second - "�ч". Between "в" and "ч" we have return, but it's wrong behavior, because [RFC 2047, §5](http://tools.ietf.org/html/rfc2047#section-5) says:
```
Each 'encoded-word' MUST represent an integral number of characters. 
A multi-octet character may not be split across adjacent 'encoded-word's.
```

https://gitlab.com/gitlab-org/gitlab-ce/issues/13439